.filter-section {
  border-top: 1px solid rgba($base-color, .2);
  border-bottom: 1px solid rgba($base-color, .2);

  @include breakpoint($small-only) {
    overflow-x: scroll;
    scroll-snap-align: center;
    scroll-snap-type: x proximity;
  }

  &__panel {
    @include breakpoint($medium-up) { display: flex; }
    flex-direction: column;
    align-items: center;
  }

  &__search {
    @include breakpoint($medium-up) { width: 82%; }
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__buttons { 
    flex: 12; 
    text-align: center;
    @include breakpoint($large) { text-align: right; }
  }
}

.search-field {
  padding: 8px 16px;
  width: 100%;
  border: 1px solid rgba($base-color, .2);
  color: rgba($base-color, .7);
  background-color: transparent;

  &::-webkit-input-placeholder { color: rgba($base-color, .4); }
  &:-moz-placeholder { color: rgba($base-color, .4); }
  &::-moz-placeholder { color: rgba($base-color, .4); }
  &:-ms-input-placeholder { color: rgba($base-color, .4); }

  &:focus { border: 1px solid $orange; }
}

.filters {
  padding-top: 24px;
  padding-bottom: 24px;

  @include breakpoint($small-only) {
    .filter + .filter { margin-top: 8px; }
  }

  @include breakpoint($medium-up) { 
    .filter + .filter { margin-left: 8px; }
  }
}

.filter {
  display: block;
  @include breakpoint($medium-up) { display: inline-block; }

  color: $base-color;
  border: 1px solid $base-color;
  padding: 8px 24px 10px;
  border-radius: 24px;
  font-size: .8rem;

  &:hover {
    cursor: pointer;
    background-color: $base-color;
    color: $white;
  }

  &.filter--responsible-data:hover { background-color: $teal; }
  &.filter--using-data:hover { background-color: $orange; }
  &.filter--finding-data:hover { background-color: $red; }
  &.filter--training-and-support:hover { background-color: $yellow; }
  &.filter--data-strategy-and-policy:hover { background-color: $black; }

}

.filter-selected {
  cursor: pointer;
  background-color: $base-color;
  color: $white;

  &.filter--responsible-data { background-color: $teal; color: $white; }
  &.filter--using-data { background-color: $orange; color: $white; }
  &.filter--finding-data { background-color: $red; color: $white; }
  &.filter--training-and-support { background-color: $yellow; color: $white; }
  &.filter--data-strategy-and-policy { background-color: $black; color: $white; }
}

.filter--responsible-data {
  color: $teal;
  border-color: $teal;
}

.filter--using-data {
  color: $orange;
  border-color: $orange;
}

.filter--finding-data {
  color: $red;
  border-color: $red;
}

.filter--training-and-support {
  color: $yellow;
  border-color: $yellow;
}

.filter--data-strategy-and-policy {
  color: $black;
  border-color: $black;
}