.resource-card {
  background: $white;
  box-shadow: 0px 4px 8px #1536341A;
  position: relative;
  padding: 16px 24px 16px 24px;  

  @include breakpoint($large) { padding: 32px 40px 32px 40px; }

  &__content {
    @include breakpoint($large) { margin-top: 36px; }
  }

  &__footer {
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid rgba($base-color, .3);
  }

  &__sidebar {
    &.tags { text-align: right; }
    @include breakpoint($medium-up) { text-align: right; }
  }

  &__tags {
    > .tag {
      margin-bottom: 4px;
    }
  }

  &__image {
    margin-top: 24px;

    a {
      display: inline-block;
      vertical-align: top;
    }
    
    img { max-height: 171px; }
  }

  &__link {
    position: absolute;
    right: 16px;
    top: 12px;
    padding: 8px 0;
    color: $base-color;
    > i { transform: rotate(-45deg) scale(1.2); }
    &:hover { color: $orange; }
    
    @include breakpoint($small-only) {
      position: static;
      float: right;
      margin-left: 8px;  
    }

    @include breakpoint($large) { 
      right: 40px;
      top: 32px;
      > i { transform: rotate(-45deg) scale(1.6); }
    }
  }

  &:before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($base-color, .2);
  }
}

.tags {
  margin-top: 16px;
  @include breakpoint($medium-up) { margin-top: 0px; }

  > .tag { 
      pointer-events: none; 
      display: inline-block;
      margin-bottom: 8px;
    }
}

// Card Grid
.resource-card {
  &__row {
    display: flex;
    padding-bottom: 16px;
    @include breakpoint($small-only) { flex-direction: column; }
  }

  &__main-content { 
    flex: 3; 
    max-width: 67%;
  }

  &__sidebar { flex: 2; }
}

// Card Typography
.resource-card {
  &__heading { @include h3; }

  &__subheading {
    @include h4;
    font-weight: 600;
    color: rgba($black, .9);
    margin-top: 8px;
    margin-bottom: 8px;
    @include breakpoint($medium-up) { margin-top: 16px; }
  }

  &__text {
    @include text;
    display: block;
  }

  &__author { @include small-text; }
}

// Card Colors
.resource-card--responsible-data:before { background-color: $teal; }
.resource-card--using-data:before { background-color: $orange; }
.resource-card--finding-data:before { background-color: $red; }
.resource-card--training-and-support:before { background-color: $yellow; }
.resource-card--data-strategy-and-policy:before { background-color: $black; }

// Card States
.resource-card .resource-card__extra {
  overflow: hidden;
  display: none;  
  max-height: 0; // Hides the whole description in touch devices
  @include breakpoint($large) { max-height: 30px; } // Hides the description in mobile sizes, leaving only teh first line
}

.resource-card--expanded .resource-card__extra { 
  display: block;
  max-height: 3000px; 
  margin-top: 36px;
}

.resource-card--expanded .tags--on-expanded { display: block; }
.resource-card--expanded .tags + .tags { margin-top: 0.5em; }