.list-section {
  padding-top: 24px;
  padding-bottom: 32px;

  &__item {
    width: 100%;
  }

  &__item + &__item { margin-top: 24px; }
}

.submit-section {
  border-top: 1px solid rgba($base-color, .2);
  padding-top: 40px;

  h2 {
    margin-bottom: 1rem;
  }

  &__content {
    overflow: hidden;
  }
  
  &__form {
    position: relative;
    top: -120px;
    margin-bottom: -160px;
  }

  &--narrow {
  margin: 0 auto;
  max-width: 32rem;
  }
}



