.tag {
  color: $base-color;
  border: 1px solid $base-color;
  display: inline-block;
  padding: 2px 24px 4px;
  border-radius: 24px;
  font-size: .8rem;
}

.tag--large {
  padding: 8px 24px 10px;

  &:hover {
    cursor: pointer;
    background-color: $base-color;
    color: $white;
  }

  &.tag--responsible-data { background-color: $teal; }
  &.tag--using-data { background-color: $orange; }
  &.tag--finding-data { background-color: $red; }
  &.tag--training-and-support { background-color: $yellow; }
  &.tag--data-strategy-and-policy { background-color: $black; }
}

.tag--selected {
  cursor: pointer;
  background-color: $base-color;
  color: $white;

  &.tag--responsible-data { background-color: $teal; color: $white; }
  &.tag--using-data { background-color: $orange; color: $white; }
  &.tag--finding-data { background-color: $red; color: $white; }
  &.tag--training-and-support { background-color: $yellow; color: $white; }
  &.tag--data-strategy-and-policy { background-color: $black; color: $white; }
}

.tag--responsible-data {
  color: $teal;
  border-color: $teal;
}

.tag--using-data {
  color: $orange;
  border-color: $orange;
}

.tag--finding-data {
  color: $red;
  border-color: $red;
}

.tag--training-and-support {
  color: $yellow;
  border-color: $yellow;
}

.tag--data-strategy-and-policy {
  color: $black;
  border-color: $black;
}