// Breakpoints
$small-only: (max-width 40em);
$medium: 40.063em 64em;
$touch: (max-width 64em);
$medium-up: 40.063em;
$large: 64.063em;

// Font
$sans-serif: 'Roboto', sans-serif;

// Colours Absolute
$black: #153634;
$orange: #DE6E26;
$teal: #4DACB6;
$yellow: #EFC329;
$yellow-text: #8f730c;
$red: #BC2C26;
$white: white;

// Colours Relative
$main-color: $orange;
$base-color: $black;

// Categories and colours
$categories: (
  'data-wrangling': $teal $teal,
  'data-literacy': $orange $orange,
  'human-centered-design': $red $red,
  'using-data': $red $red,
  'responsible-data': $teal $teal,
  'finding-data': $orange $orange,
  'training-and-support': $yellow $yellow-text,
  'data-strategy-and-policy': $teal $teal,
);