<div class="filter-section">
  <div class="wrapper filter-section__panel">
    <div class="filter-section__search">
      <label for="filter-field" class="sr-only">Start typing to filter...</label>
      <input name="filter-field" class="search-field js-search-filter" placeholder="Start typing to filter..." />  
    </div>
    
    <div class="filter-section__buttons filters">
      {% include _filter.html category="Responsible Data" %}
      {% include _filter.html category="Using data" %}
      {% include _filter.html category="Finding data" %}
      {% include _filter.html category="Training and support" %}
      {% include _filter.html category="Data strategy and policy" %}
    </div>
  </div>
</div>





