<div class="subscribe-section">
  <div class="subscribe-section__wrapper">
    <form action="#" class="subscribe-section__form">
      <label for="subscribe-field" class="sr-only">Subscribe to our newsletter</label>
      <input name="subscribe-field" type="text" placeholder="Subscribe to our newsletter">
      <input type="submit" value="Send">
    </form>
  </div>
</div>

<footer class="footer">
  <div class="footer__row wrapper">
    <div class="footer__column-2 footer__branding">
      <div class="footer__logo"><img src="/images/360-giving-logo-white.svg" alt="360Giving"></div>
      <p class="footer__tagline">Open data for more effective grantmaking</p>
    </div>
    <div class="footer__column-1 footer__social">
      <a href="https://github.com/threesixtygiving/" class="github-icon" target="_blank"><img src="/images/github-logo.svg" alt="Check our Github"></a>
      <a href="https://twitter.com/360Giving/" class="twitter-icon"><img src="/images/twitter-logo.svg"  target="_blank" alt="Follow us on Twitter"></a>
    </div>
  </div>
  
  <div class="footer__row wrapper">
    <div class="footer__column-1 footer__section medium-up">
      <h3 class="footer__heading">For grantmakers</h3>
      <ul>
        <li><a target="_blank" href="https://www.threesixtygiving.org/support/why-publish-grants-data/">Why publish?</a></li>
        <li><a target="_blank" href="https://www.threesixtygiving.org/support/standard/">The Standard</a></li>
        <li><a target="_blank" href="https://www.threesixtygiving.org/about/datachampions/">Data Champions</a></li>
        <li><a target="_blank" href="https://www.threesixtygiving.org/support/">Support</a></li>
      </ul>
    </div>

    <div class="footer__column-1 footer__section medium-up">
      <h3 class="footer__heading">Explore grants data</h3>
      <ul>
        <li><a target="_blank" href="https://grantnav.threesixtygiving.org/">GrantNav</a></li>
        <li><a target="_blank" href="https://data.threesixtygiving.org/">360Registry</a></li>
        <li><a target="_blank" href="https://insights.threesixtygiving.org/">360Insights</a></li>
        <li><a target="_blank" href="https://www.threesixtygiving.org/support/researchers-and-media/">Researchers & Media</a></li>
      </ul>
    </div>

    <div class="footer__column-1 footer__section">
      <h3 class="footer__heading">360Giving</h3>
      <p>We help organisations openly publish grants data, and help people use it to improve charitable giving.</p>
    </div>
  </div>

  <div class="footer__row wrapper footer__small-print">
    <p>© Copyright 2016-2017, 360Giving, licensed under a Creative Commons Attribution 4.0 International License. <br>Icons from the Noun Project: Document by Jamison Wieser and JSON File by useiconic.com. Revision e76b5687.</p>
  </div>

  <div class="footer__row wrapper footer__small-print">
    
    <div class="footer__column-2">
      <p>360Giving: Company <a href="https://register-of-charities.charitycommission.gov.uk/charity-details/?regId=1164883&subId=0" target="_bnlank">09668396</a> Charity <a href="https://find-and-update.company-information.service.gov.uk/company/09668396" target="_blank">1164883</a></p>
    </div>
    <div class="footer__column-2 footer__policy-links">
      <p><a href="https://www.threesixtygiving.org/privacy/" target="_blank">Privacy Notice</a> | <a href="https://www.threesixtygiving.org/terms-conditions/" target="_blank">Terms & Conditions</a> | <a href="https://www.threesixtygiving.org/cookie-policy/" target="_blank">Cookie Policy</a> | <a href="https://www.threesixtygiving.org/take-down-policy/" target="_blank">Take Down Policy</a> | <a href="https://www.threesixtygiving.org/about/360giving-code-conduct/" target="_blank">Code of Conduct</a></p>
    </div>
  </div>
</footer>