<div id="resources-intro" class="resources-intro">
  
  <div class="prose">
    <section class="prose__section">
      <div class="grid grid--two-columns">
        <div class="grid__1">
          <p>This resource library is a collaboratively built list of resources that can help people in grantmaking – or people interested in funding – to use and benefit from data.</p>
        </div>

        <div class="grid__1">
          <p>Browse resources using the search-bar and categories below.</p>
        </div>

        <div class="grid__all">
          <p><a href="/submit.html" class="button button-large">Submit a resource</a></p>
        </div>
      </div>
    </section>
  </div>

</div>
 