<div id="resources-intro" class="resources-intro">
  
  <div class="prose">
    <section class="prose__section">
      <div class="grid grid--two-columns">
        <div class="grid__1">
          <p>&nbsp;</p>
          <p>This resource library is a collaboratively built list of resources that can help people in grantmaking – or people interested in funding – to use and benefit from data</p>
        </div>

        <div class="grid__1">
          <p><strong>Rules for submission</strong></p>
          <p>We want you to add resources that you think are helpful and give reasons why, so that others can benefit.</p>
          <p>This is not intended to be a platform for self-promotion or soliciting business.</p>
        </div>
      </div>
    </section>
  </div>

</div>
 