<div id="resources-intro" class="resources-intro">
  
  <div class="prose">
    <section class="prose__section">
      <div class="grid grid--two-columns">
        <div class="grid__1">
          <p>This resource library is a collaboratively built list of resources that can help people in grantmaking – or people interested in funding – to use and benefit from data.</p>
        </div>

        <div class="grid__1">
          <p>You can browse them using the search-bar and categories below. If you’d like to share a resource for others to learn from, <a href="/submit.html">go to the submission page</a>.</p>
        </div>
      </div>
    </section>
  </div>

</div>
 