---
layout: default
title: About 360 Resources
---
<main>
  {% include _top-bar.html %}
  {% include _hero.html %}  
  
  <div class="prose-section">
    <article class="prose-section__main">
      <div class="prose">

        <section class="prose__section">
          <h2>360 Resources</h2>
          <p>The 360 Resource is a repository of resources to aid individuals working to help foundations be more data-informed. The main purpose is to expose Data Champions to tried and true resources that other champions have found helpful, but also to connect directly with other data champions to get advice. It’s a people library as much as a resource library.</p>

          <p>The Resource Library began during a workshop for the UKCF Data Champions Pilot as a brain-dump sticky note exercise.</p>
          
        </section>
      </div>      
    </article>
    <aside class="prose-section__sidebar">
      &nbsp;
    </aside>
  </div>

  {% include _footer.html %}
</main>