---
layout: default
title: Resource Library
---
<main>
  {% include _top-bar.html %}
  {% include _hero.html %}
  {% include _intro.html %}
  {% include _filters.html %}


  <div class="list-section">
    <ul class="wrapper list-section-items">
      {% for resource in site.data.resources %}
      <li class="list-section__item">
        {% include _resource-card.html data=resource %}
      </li>
      {% endfor %}
    </ul>
  </div>

  {% include _footer.html %}
</main>

<script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>