---
layout: default
title: Boilerplate
---
<main>
  {% include _top-bar.html %}
  {% include _hero.html %}  
  {% include _filters.html %}  
  
  <div class="list-section">
    <ul class="wrapper list-section-items">
      <li class="list-section__item">
        {% include _card.html category="Data Literacy" %}  
      </li>
      
      <li class="list-section__item">
        {% include _card.html category="Data Wrangling" %}
      </li>

      <li class="list-section__item">
        {% include _card.html category="Data Wrangling" %}
      </li>
      
      <li class="list-section__item">
        {% include _card.html category="Human Centered Design" %}
      </li>
    </ul>
  </div>

  {% include _footer.html %}
</main>

<script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>