---
layout: default
title: Submit a New Tool
---
<main>
  {% include _top-bar.html %}
  {% include _hero.html %}
  
  <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
  
  
  <section class="submit-section ">
    <div class="submit-section__content submit-section--narrow">
      <h2>Submit a Resource</h2>
      <div class="prose">
        <p>Please add resources that you think others can learn from, and explain clearly why you think it is useful. This is not intended to be a platform for soliciting business.</p>
        <p>When you submit a resource, be sure to use its correct brand name (spell out acronyms) and link to its official website. Please also choose the relevant categorie(s) you think this resource is relevant for. We will moderate all submissions before they are posted.</p>

        <h3>Submit Multiple Resources</h3>
        <p>If you'd like to upload more than one resource, you can download the <a href="{{ "/images/dataset-template.csv" | relative_url }}" download>template</a> and <a href="mailto:info@threesixtygiving.org">contact us</a>.</p>
      </div>
    </div>

    <div class="submit-section__content">
      <div class="submit-section__form">
        <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrgi6bU75jITRSVv?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="2248" style="background: transparent; border: 1px solid #ccc;"></iframe>
      </div>  
    </div>
    
  </section>
  {% include _footer.html %}
</main>

<script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>